<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				Made with <a href="https://nodejs.org/en/">Node.js</a> using <a href="http://expressjs.com/">Express</a> and <a href="https://www.mongodb.com/">MongoDB</a>.
			</div>
			<div class="col-md-4">
				<ul class="social">
					<li>
						<i class="fa fa-github"></i>
						<a href="http://www.github.com/aburd">Github</a>
					</li>
					<li>
						<i class="fa fa-book"></i>
						<a href="http://ernbird.com/blog/">Blog</a>
					</li>
					<li>
						<i class="fa fa-twitter"></i>
						<a href="https://twitter.com/trash_ctrl">Twitter</a>
					</li>
					<li>
						<i class="fa fa-image"></i>
						<a href="http://imgur.com/user/aburdick">imgur</a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</footer>

<script>
	$('#hamburger').click(function(ev){
		$('.sidebar-nav').slideToggle()
	})
</script>