<div class="row" id="top-bar">
	<div class="col-xs-4">
		<!-- <a href="/"><img src="/images/aburd-small-thin.png" alt=""></a> -->
		<h1><a href="/">aburd</a></h1>
	</div>
	<div class="col-xs-8">
		<button id="hamburger" class="hidden-lg btn-link">
			<i class="fa fa-navicon" aria-hidden="true"></i>
		</button>
		<nav>
		  <ul id="main-nav" class="visible-lg">
		    <li id="home">
		    	<a href="/"><div>home</div></a>
		    </li>|
		    <li id="about">
		    	<a href="/about">about</a>
		    </li>|
		    <li id="works">
		    	<a href="/works">works</a>
		    </li>|
		    <li id="contact">
		    	<a href="/contact">contact</a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>

<div class="sidebar-nav">
	<ul>
    <li>
    	<a href="/">home</a>
    </li>
    <li>
    	<a href="/about">about</a>
    </li>
    <li>
    	<a href="/works">works</a>
    </li>
    <li>
    	<a href="/contact">contact</a>
    </li>
  </ul>
</div>