<div id="attention-grabber" class="hidden-xs hidden-sm">
  <span>Hello!</span>
  <h1>My name is Aaron. I make websites and I live in Tokyo.</h1>
</div>
<nav>
  <ul id="main-nav" class="subpage">
    <li id="about">about</li> |
    <li id="works">works</li> |
    <li id="apps">apps</li> |
    <li id="contact">contact</li> |
    <li id="blog">blog</li>
  </ul>
</nav>