<div class="row" id="top-bar">
	<div class="col-xs-6">
		<a href="/"><img src="/images/aburd-small-thin.png" alt=""></a>
	</div>
	<div class="col-xs-6">
		<nav>
		  <ul id="main-nav">
		    <li id="about">
		    	<a href="/about">about</a>
		    </li> |
		    <li id="works">
		    	<a href="/works">works</a>
		    </li> |
		    <li id="apps">
		    	<a href="/apps">apps</a>
		    </li> |
		    <li id="contact">
		    	<a href="/contact">contact</a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>