<section id="contact">
	<h1>{{title}}</h1>
	<div id="information">
		<p>Feel free to drop me a line. Even just to say hello!</p>
		<table>
			<tr>
				<td><strong>email:</strong></td>
				<td><a href="mailto:burdick.aaron@gmail.com">burdick.aaron@gmail.com</a> </td>
			</tr>
			<tr>
				<td><strong>twitter:</strong> </td>
				<td><a href="https://twitter.com/trash_ctrl">trash_ctrl</a></td>
			</tr>
		</table>
	</div>
</section>