<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="/dist/bundle.css">
    
    <script src="/js/jquery.js"></script>
  </head>
  <body>

    <div class="container">
      {{{body}}}
    </div>
  
  	{{> footer}}
  </body>
</html>
