<section>
	<div id="attention-grabber">
	  <span>Hi, I'm Aaron!</span>
	</div>

	<div id="technicolor">
		<h1>I make websites and live in Tokyo</h1>
		<div class="canvas technicolor-top"></div>
		<div class="canvas technicolor-bottom"></div>
		<div class="pong">
			<div class="ball"></div>
			<div class="pad"></div>
		</div>
	</div>
</section>
