<section>
	<div id="attention-grabber">
	  <span>Hi, I'm Aaron!</span>
	</div>

	<div id="technicolor">
		<h1>I make websites and live in Tokyo</h1>
		<div class="canvas technicolor-top"></div>
		<div class="canvas technicolor-bottom"></div>	
	</div>

	<nav>
		<a href="./about">about</a>
		<a href="./about">works</a>
		<a href="./about">app</a>
		<a href="./about">contact</a>
	</nav>
</section>
