<div id="attention-grabber">
  <span>Hello!</span>
  <h1>I make websites and I live in Tokyo.</h1>
</div>
<nav>
	<ul id="main-nav">
		<li id="about">a</li>
		<li id="works">b</li>
		<li id="apps">u</li>
		<li id="contact">r</li>
		<li id="blog">d</li>
	</ul>
</nav>
