<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/js/jquery.js"></script>
  </head>
  <body>

    <div class="container">
      <div id="attention-grabber" class="hidden-xs hidden-sm">
        <span>Hello! こんにちは！</span>
        <h1>My name is aburd. I am a front-end programmer from Washington D.C. based in Tokyo.</h1>
      </div>
      <nav>
        <ul id="main-nav" class="subpage">
          <li id="about">about</li> |
          <li id="works">works</li> |
          <li id="apps">apps</li> |
          <li id="contact">contact</li> |
          <li id="blog">blog</li>
        </ul>
      </nav>

      {{{body}}}
    
    </div>
  
  </body>
</html>