//
// Main Font Variable Declarations
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');

//$main-font: 'Helvetica Neue', 'Lucida Grande', sans-serif
$main-font: 'Open Sans', 'Lucida Grande', sans-serif
$title-font: 'Press Start 2P', serif
$monospace-font: 'Inconsolata', 'Lucida Console', monospace
$font-primary: #1E7F77
$font-secondary: #B2440F
$font-tertiary: #FF8449
$font-black: #222
$font-white: #eee
$background: #e8ffe8

// typography
$cover-size: 20em
$size-title: 3em;
$size-heading: 2em

// media query stuff
$media: screen;
$min: min-width
$max: max-width
$lg: 1200px
$md: 992px
$sm: 768px
$xs: 480px

//
// @mixins & functions
//
=border-bottom($color)
	border-bottom: 1px solid $color;

=transition-1sec($property)
	-webkit-transition: $property 1s
	transition: $property 1s

=transition-quick($property)
	-webkit-transition: $property 0.3s
	transition: $property 0.3s



//
// Styles *
//
html, body 
	height: 100%;
	overflow: auto;
body
	font-family: $main-font;
	font-weight: 200;
	font-size: 18px
	color: $font-primary
	background: linear-gradient($background, rgba($background, 0.2));
	

@media screen and (min-width: 1200px)
	.container
		width: 1200px;

a
	color: $font-secondary
	+transition-quick(color)

	&:hover
		color: $font-tertiary

h1
	font-family: 'Press Start 2P'
	text-transform: uppercase

h2, h3
	font-weight: 600
	text-decoration: underline

h2.title
		font-size: $size-title
		text-align: center

td, th
	padding: 0 10px 0 0

section
	margin: 5em 0

#top-bar
	margin: 0
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $font-primary
	color: $font-white
	z-index: 100

	.col-xs-6
		img
			width: 100px;

		&:first-child
			a
				margin-left: 15px
				margin-top: 5px;
				display: inline-block;
		&:last-child
			text-align: right;
nav
	padding: 0;
	display: inline-block;

	#main-nav
		padding: 0
		margin: 0

		&.home
			li
				font-size: $cover-size
				margin: 20px

		li
			font-size: 1.5em
			display: inline-block;
			margin: 10px;
			list-style: none
			line-height: 1em
			+transition-1sec(border-bottom)
			a
				color: $font-white
				text-decoration: none
				font-weight: 200

				&:hover
					color: $font-secondary
					text-decoration: none

@media #{$media} and ($max: $xs)
	nav
		display: none;



#attention-grabber
	border-bottom: 1px solid $font-primary;

	span
		font-size: 5em

	h1
		font-size: 1.5em
		margin: 0;
		font-weight: 200;
		letter-spacing: 1px;

footer
	padding: 30px;
	position: relative
	width: 100%;
	bottom: 0
	background: $font-primary
	color: $font-white
	a
		color: $background
	ul
		list-style: none
		padding: 0;
		margin-bottom: 0;
		li
			display: inline-block;
			margin-right: 10px;


.container
	min-height: 100%
	&.top-container
		padding-top: 44px



// 404s and stuff
.err
	font-family: $monospace-font

	#attention-grabber
		border-bottom: none
